.square {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 100px;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: #fff47a !important;
}

.square > img {
  cursor: grab;
}

.hilight {
  background-color: red !important;
}
